
<div class="container">
  <h1>Contact Us</h1>
  <div class="card">

    <div class="card-body" >
      <span>Coordinator, IIIT Kota</span>
      <span>Department of Computer Science and Engineering</span>
      <span>MNIT Jaipur, J L N Marg, Jaipur – 302017</span>
      <span>Phone: 0141-2715071</span>
      <span><a href="mailto:coordinator@iiitkota.ac.in">Email: coordinator [at] iiitkota.ac.in</a></span>
    </div>

    <div class="card-body">
      <span>For Admissions through JoSAA</span>
      <span>Dr. Lava Bhargava</span>
      <span>Department of Electronics and Communications Engineering</span>
      <span>MNIT Jaipur, J L N Marg, Jaipur – 302017</span>
    </div>

    <div class="card-body">
  <span>Note:- For any query related to admissions into IIIT Kota, please send an email to admissions [at] iiitkota.ac.in</span>
  <span>For any query related to placements and internships, please send an email to placements [at] iiitkota.ac.in</span>
  <span>For any query related to faculty recruitment, please send an email to recruitment [at] iiitkota.ac.in</span>
  <span>For all other queries, please send an email to office [at] iiitkota.ac.in</span>
    </div>

  </div>
  <h1>Office Address</h1>
<div class="card">
  <div class="card-body">
    <span>Office of IIIT Kota, 2nd Floor,</span>
    <span>Prabha Bhawan, MNIT Jaipur,</span>
    <span>J L N Marg, Jaipur-302017</span>
  </div>
</div>

<h1>How to reach MNIT Campus ?</h1>
<div class="card">
  <div class="card-body">
    <span>
      The Institute is located in Malaviya Nagar on Jawahar Lal Nehru Marg, Jaipur. Jaipur is situated in Northern India at a distance of around 260 km south of Delhi.
    </span>

    <div>
        <h2>By Air:</h2>
        MNIT is 5 kms away from Jaipur airport, from there one can either hire a taxi to reach MNIT Campus or take bus no 13 to reach Tonk Phatak and then Bus no, 7 or 17 to reach MNIT Campus.        
    </div>

    <div>
      <h2>By Train:</h2>
      <span>Indian railway connects Jaipur to almost all major cities of the country.</span>
      <span>There are three stops close to MNIT: one on Durgapura, about 3 kms from MNIT
        , from where one can hire a taxi to reach MNIT, another at GhandhiNagar railway station
        , 1.5 km away from MNIT, one can hire a taxi or take bus no. 7 and 17 to reach MNIT.</span>
      <span>Jaipur railway station is about 9 kms from MNIT, one can take a taxi or bus no 7 to reach MNIT.</span>
    </div>

    <div>
      <h2>By Bus:</h2>
      <span><span class="route">From National Highway 8:</span> Which connects Jaipur to Delhi, Ajmer, Udaipur, Ahmedabad, Vadodara
        , Mumbai one can reach to Sindhi Camp Bus stand. From Sindhi camp which is 10 kms away from MNIT campus
        , one can take city bus no. 7 and 17. One can also get prepaid taxi to reach MNIT campus.</span>
      <span><span class="route">From National Highway 11:</span> Which connects Agra-Jaipur-Bikaner one can reach to Sindhi Camp Bus stand
        . From Sindhi camp which is 10 kms away from MNIT campus, one can take city bus no. 7 and 17
        . One can also get prepaid taxi to reach MNIT campus.</span>
      <span><span class="route">From National Highway 12:</span> Which connects Jabalpur-Bhopal-Khilchipur-Aklera-Jhalawar-Kota-Bundi-Devli-Tonk-Jaipur
        . One can reach to Sindhi Camp Bus stand. From Sindhi camp which is 10 kms away from MNIT campus
        , one can take city bus no. 7 and 17. One can also get prepaid taxi to reach MNIT campus.</span>
    </div>
  </div>
</div>
</div>