
<about-bar></about-bar>
<div role="college logo">
    <img src="./../../assets/logo.svg" alt="IIIT-Kota logo">
</div>
<nav-bar></nav-bar>
<div class="container">
  <h1>Contact Us</h1>
  <div class="card">
    <div class="card-body" >
<pre>
Coordinator, IIIT Kota
Department of Computer Science and Engineering
MNIT Jaipur, J L N Marg, Jaipur – 302017
Phone: 0141-2715071
Email: coordinator [at] iiitkota.ac.in
</pre>
    </div>
    <hr>
    <div class="card-body">
<pre>
For Admissions through JoSAA
Dr. Lava Bhargava
Department of Electronics and Communications Engineering
MNIT Jaipur, J L N Marg, Jaipur – 302017
</pre>
    </div>
    <hr>
    <div class="card-body">
<pre>
Note:- For any query related to admissions into IIIT Kota, please send an email to admissions [at] iiitkota.ac.in
For any query related to placements and internships, please send an email to placements [at] iiitkota.ac.in
For any query related to faculty recruitment, please send an email to recruitment [at] iiitkota.ac.in
For all other queries, please send an email to office [at] iiitkota.ac.in    
</pre>
    </div>
    <hr>
  </div>
  <h1>Office Address</h1>
<div class="card">
  <div class="card-body">
    <pre>
Office of IIIT Kota, 2nd Floor,
Prabha Bhawan, MNIT Jaipur,
J L N Marg, Jaipur-302017      
    </pre>
  </div>
</div>

<h1>How to reach MNIT Campus ?</h1>
<div class="card">
  <div class="card-body">
<pre>
The Institute is located in Malaviya Nagar on Jawahar Lal Nehru Marg, Jaipur. Jaipur is situated in Northern India at a distance of around 260 km south of Delhi.
<strong>By Air:</strong>
MNIT is 5 kms away from Jaipur airport, from there one can either hire a taxi to reach MNIT Campus or take bus no 13 to reach Tonk Phatak and then Bus no, 7 or 17 to reach MNIT Campus.
        
<strong>By Train:</strong>
Indian railway connects Jaipur to almost all major cities of the country.
There are three stops close to MNIT: one on Durgapura, about 3 kms from MNIT, from where one can hire a taxi to reach MNIT, another at GhandhiNagar railway station, 1.5 km away from MNIT, one can hire a taxi or take bus no. 7 and 17 to reach MNIT.
Jaipur railway station is about 9 kms from MNIT, one can take a taxi or bus no 7 to reach MNIT.
        
<strong>By Bus:</strong>        
From National Highway 8: Which connects Jaipur to Delhi, Ajmer, Udaipur, Ahmedabad, Vadodara, Mumbai one can reach to Sindhi Camp Bus stand. From Sindhi camp which is 10 kms away from MNIT campus, one can take city bus no. 7 and 17. One can also get prepaid taxi to reach MNIT campus.
From National Highway 11: Which connects Agra-Jaipur-Bikaner one can reach to Sindhi Camp Bus stand. From Sindhi camp which is 10 kms away from MNIT campus, one can take city bus no. 7 and 17. One can also get prepaid taxi to reach MNIT campus.
From National Highway 12: Which connects Jabalpur-Bhopal-Khilchipur-Aklera-Jhalawar-Kota-Bundi-Devli-Tonk-Jaipur. One can reach to Sindhi Camp Bus stand. From Sindhi camp which is 10 kms away from MNIT campus, one can take city bus no. 7 and 17. One can also get prepaid taxi to reach MNIT campus.      
</pre>
  </div>
</div>
</div>