<div role="container">
    <div data-part="about">
        <div class="title text-primary">
            {{content.about.title}}
        </div>
        <div class="content text-muted">
            {{content.about.content}}
        </div>
    </div>
    <div data-part="vision">
        <div class="title text-info">
            {{content.vision.title}}
        </div>
        <div class="content text-muted">
            {{content.vision.content}}
        </div>
    </div>
    <div data-part="mission">
        <div class="title text-primary">
            {{content.mission.title}}
        </div>
        <div class="content text-muted">
            {{content.mission.content}}
        </div>
    </div>
</div>