<div role="container">
    <div data-part="about" class="bg-primary">
        <div class="title">
            {{content.about.title}}
        </div>
        <div class="content">
            {{content.about.content}}
        </div>
    </div>
    <div data-part="vision" class="bg-info">
        <div class="title">
            {{content.vision.title}}
        </div>
        <div class="content">
            {{content.vision.content}}
        </div>
    </div>
    <div data-part="mission" class="bg-primary">
        <div class="title">
            {{content.mission.title}}
        </div>
        <div class="content">
            {{content.mission.content}}
        </div>
    </div>
</div>