div[role=container] {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0;
}

div[data-part] {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 3;
    border-bottom: 0.25px solid white;
    font-size: 5em;
    line-height: 3.5em;
    color: white;
}

.content {
    flex: 2;
    font-size: 1.25em;
    line-height: 1.75em;
    font-weight: 400;
    text-align: center;
    margin: 0.75em;
}