div[container] {
    display: flex;
    flex-flow: column wrap;
    padding: 1.5em 1em;
    margin: 1.17em 10%;
    align-content: justify;
}

div[role] {
    margin: 2em 0;
}

div[role=director] {
    font-size: larger;
}
