<div container>
  <h1 class="text-center">Director, IIIT Kota</h1>

  <div role="director">
    <img src="../../assets/director.jpg" alt="Director, IIIT Kota" class="img-thumbnail float-right" width="17.17%" height="17.17%"/>
    <p>{{content.director.name}}</p>
    <p>Office: {{content.director.office}}</p>
    <p>Phone: {{content.director.phone}}</p>
    <p><a href="mailto:{{content.director.email}}">Email: {{content.director.email}}</a></p>
    <p>Website: <a href={{content.director.website}}>{{content.director.website}}</a></p>
    <p>Tenure: {{content.director.tenure}}</p>
  </div>

  <h3>Former Director</h3>
  <div role="former-director">
    <p>{{content.prevDirector.name}}</p>
    <p>Office: {{content.prevDirector.office}}</p>
    <p><a href="mailto:{{content.prevDirector.email}}">Email: {{content.prevDirector.email}}</a></p>
    <p>Tenure: {{content.prevDirector.tenure}}</p>
  </div>
</div>
