<div container>
  <h1 class="text-center">Governing Body</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name & Organisation</th>
        <th scope="col">Desgination</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let executive of content.executives">
            <td>{{executive.name}}</td>
            <td>{{executive.designation}}</td>
          </tr>
    </tbody>
  </table>

  <div role="minutes">
    <h4>Minutes of the Meetings of the Senate</h4>
    <div *ngFor="let minute of content.minutes" >
      <a href="{{minute.link}}" target="_blank">{{minute.title}}</a> ({{minute.timestamp}})
    </div>
  </div>

</div>
