.about-bar {
    background-color: #084386;
}

a, a:hover {
    color: white;
}

a:first-child {
    margin-left: 1em;
}

.form-control {
    width: 30vw;
}

.responsive {
    float: right;
    transform: translateY(15%);
    margin-right: 3em;
}
