.about-bar {
    background-color: #084386;
}

a, a:hover {
    color: white;
}

a:first-child {
    margin-left: 1em;
}

@media(max-width:575px){
    a{
        font-size: 0.67em;
    }
}

@media(max-width:575px){
    .responsive{
        float: right;
        margin-bottom: 3em;
        margin-right: 0em;
    }
    .my-form {
        width: 30vw;
    }
}
@media(min-width:576px){
    .responsive {
        float: right;
        margin-top: 0.2em;
        margin-right: 3em;
    }
    .my-form {
        width: 11em;
    }
}