<div id="form-page">
    <div class="container">
        <div class="form-container">
            <form #form="ngForm" (ngSubmit)="submit(form)">
                <div class="text-dark" id="admin-login-title">
                    <img src="../../assets/iiitklogo.gif" alt="IIITK logo" />
                </div>
                <div class="form-group" [ngClass]="{'has-danger': adminName.touched&&adminName.invalid}">
                    <label for="admin-name" class="form-control-label">Admin</label>
                    <input required ngModel #adminName="ngModel" type="text" name="adminName" id="admin-name" (change)="log(adminName)" class="form-control" [ngClass]="{'is-invalid':adminName.touched&&adminName.invalid}">
                    <div *ngIf="adminName.touched&&adminName.invalid" class="invalid-feedback">Name is required</div>
                </div>
                <div class="form-group" [ngClass]="{'has-danger': adminPass.touched&&adminPass.invalid}">
                    <label for="admin-pass" class="form-control-label">Password</label>
                    <input required ngModel #adminPass="ngModel" type="password" name="adminPass" id="admin-pass" (change)="log(adminPass)" class="form-control" [ngClass]="{'is-invalid':adminPass.touched&&adminPass.invalid}">
                    <div *ngIf="adminPass.touched&&adminPass.invalid " class="invalid-feedback ">Password is required</div>
                </div>
                <div id="submit-button-container">
                    <button class="btn btn-primary" [disabled]="!form.valid" id="submit-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>