<div class="quick-contact-us-display">
<p class="quick-contact-us-font"> Contact Us </p>
<p class="quick-contact-us-font2">
  Indian Institute Of Information Technology Kota
  <br>
  Coordinator, IIIT Kota
  <br>
  Department of Computer Science and Engineering
  <br>
  MNIT Jaipur, J L N Marg, Jaipur – 302017
  <br>
  Phone: 0141-2715071
  <br>
  <a href="mailto:coordinator@iiitkota.ac.in" class="href">Email: coordinator [at] iiitkota.ac.in</a>
  <br>
  <a routerLink="/contact-us" >More Details</a>
</p>
</div>