
<div class="container">
  <h1>Computer Science and Engineering</h1>
  <div class="card">
    <div class="card-body" >
      <a href="/pdf/Curriculum/IIITK_CSE_Syllabus_Draft.pdf" target="_blank">Curriculum for 2016-17 onwards</a>
    </div>
  </div>
  <div class="card">
      <div class="card-body" >
        <a href="/pdf/Curriculum/ListOfElectives_CSE.pdf" target="_blank">List of Electives</a>
      </div>
    </div>
  <h1>Electronics and Communication</h1>
<div class="card">
  <div class="card-body">
    <a href="/pdf/Curriculum/IIITKota_ECE_Curriculum_2017_Plus-Syllabus.pdf" target="_blank">Curriculum for 2016-17 onwards</a>
  </div>
</div>

</div>