<br><br>
  <div class="container table-responsive-md"> 
      <table class="table table-bordered table-hover">
        <thead>
          <br>
            <p style="text-align: center">Industry Partners</p>
        </thead>
        <thead>
            <p>The Institute has very supportive and active Industrial Partners as envisioned in the mission and vision of the Institute:</p>
        </thead>  
        <tbody>
              <tr class="table-active" *ngFor="let x of res">
              <td> <a href="#" target="_blank">{{x.name}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>