<div container> 
  <h1 class="text-center">Industry Partners</h1>
  <p>The Institute has very supportive and active Industrial 
    Partners as envisioned in the mission and vision of the Institute:</p>

  <h2>
    M/s <a href="https://www.cairnindia.com">Cairn India</a> Limited
  </h2>
  <h2>
    M/s <a href="http://vakrangee.in">Vakrangee</a> Limited
  </h2>
  <h2>
    M/s <a href="http://www.genpact.com/about-us/regions/asia/india">Genpact India</a> Limited
  </h2>
  <h2>
    M/s <a href="http://www.nbcbearings.com">National Engineering Industries</a> Limited
  </h2>

</div>