
<!-- <div container >
  <h1></h1>
  <div class="card">

    <div class="card-body" >
      <span>IIIT Kota currently offers the following programmes.</span>
      <span>1) 4-year B. Tech. in Computer Science and Engineering (student strength 60)</span>
      <span>2) 4-year B. Tech. in Electronics and Communications Engineering (student strength 60)</span>
      <span>For details on IIIT Kota institute code and branch codes, see institute profile page on JoSAA website.</span>
    </div>

  </div>
</div> -->

<div container >
  <h1><b>Fee Structure</b></h1>
  <div class="card">

    <div class="card-body" > 
      <span>1.<a href="" target="_blank"> Fee structure for students admitted in session 2017-18</a></span>
      <br>
      <span>2.<a href="" target="_blank"> Fee structure for students admitted in session 2016-17</a></span>
      <br>
      <span>3.<a href="" target="_blank"> Fee structure for students admitted in session 2015-16</a></span>
      <br>
      <span>4.<a href="" target="_blank"> Fee structure for students admitted in session 2014-15</a></span>
      <br><br>
      <span>Hostel fee for all existing students is 30,000/- per semester as per directive from Mentor Institute.<a href="" target="_blank">Refer Hostel Fee notice</a> .</span>
      <br><br>
      <span>All new students admitted first time to the hostel, should pay 45,000/- through Demand Draft for the first semester. This includes
      15,000/- refundable caution money, 20,000/- Mess Advance of one semester and 10,000/- towards Room Rent.</span>
      <br><br>
      <span>Note: Any charges levied by banks for fee payments, will be paid by student.</span>
    </div>

  </div>
</div>

<div container >
  <h1><b>Registration</b></h1>
  <div class="card">

    <div class="card-body" >
      <span>1. All existing B.Tech. students must report to IIIT Kota office for registration from July 17 to July 18, 2017. Course registration form can be obtained from the office. Classes will start from July 19, 2017.</span>
      <br><br>
      <span>2. All existing B. Tech. students should pay fees before registration using <a href="https://www.onlinesbi.com/prelogin/icollecthome.htm?corpID=646985" target="_blank">State Bank Collect online portal</a>. Select Internet Banking or SBI debit card while paying fee through SBI Collect for lesser charges. Students are advised to retain their receipt generated through State Bank Collect for proof of fee deposited. Do not use cash / direct account transfer mode for fee payment.</span>
      <br><br>
      <span>Only those students, having an educational loan, should deposit Demand Draft to SBI MNIT Campus Branch along with SBI Collect online challan (select SBI Branch for payment through DD). Demand Draft, if any, should be drawn in favor of <b>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY KOTA </b>, payable at Jaipur. <b>Any charges levied by banks for fee payments, will be paid by student </b>.</span>
      <br><br>
      <span><b>Important:</b> Existing students admitted in session 2016-17, should produce fresh <a href="http://www.iiitkota.ac.in/wp-content/uploads/2016/07/Income-Certificate-Disclosure.pdf" target="_blank"> income certificate </a> for family income from all sources. Income certificate must be signed by the competent authority as prescribed in valid <a href="http://www.iiitkota.ac.in/wp-content/uploads/2016/07/Valid-Income-Certificate-Authrity-in-India.pdf" target="_blank">income certificate authority</a> document. Failure to produce this income certificate by registration date, will result in fee payment calculated as per highest fee bracket.</span>
      <br><br>
      <span>3. A late fee of 1000/- will be charged if Institute fee for the semester is not paid in full even after two days from registration date. Also, students should obtain written permission from Coordinator, IIIT Kota if institute fee is not paid by July 24, 2017.</span>
      <br><br>
      <span>4. 4. All new entrants through CSAB/JoSAA-2017 – registration will be as per <a href="https://josaa.nic.in/webinfocms/Public/View.aspx?page=72" target="_blank">JoSAA schedule</a> – from July 22 to July 26, 2017. All the admitted students need to report to Office of IIIT Kota, 2nd Floor, Prabha Bhawan, MNIT Jaipur Campus for their course registration.</span>
      <br>
      <a href="http://www.iiitkota.ac.in/wp-content/uploads/2017/07/Documents-Checklist.pdf" target="_blank">Document Checklist</a>
      <br><br>
      <span><b>Note:</b> First year classes will start from July 27. Contact IIITK office for any query.</span>
      <br><br>
      <span>5. All new entrants through CSAB/JoSAA-2017 – need to pay balance fee as applicable at the time of reporting to IIITK office. We recommend to all new students to bring two separate Demand Drafts one for the balance institute fee payment and another for hostel fee payment. Demand Draft should be drawn in favor of <b>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY KOTA </b>, payable at Jaipur. Please take note of bank holidays to avoid any inconvenience. IIIT Kota office will remain open through July 22 to July 26 including the weekend.</span>
      <br><br>
      <span><b style="text-decoration: underline">Registration Schedule</b></span>
      <br><br>
      <span>a. B. Tech. Final year 8th semester (CSE) Jan 2-3, 2018 – 10:00 am to 4:00 pm.</span>
      <br>
      <span>b. B. Tech. Third year 6th semester (CSE, ECE) Jan 2-3, 2018 – 10:00 am to 4:00 pm.</span>
      <br>
      <span>c. B. Tech. Second year 4th semester (CSE, ECE) Jan 2-3, 2018 – 10:00 am to 4:00 pm.</span>
      <br>
      <span>d. B. Tech. First year 2nd semester (CSE, ECE) – Jan 2-3, 2018 – 10:00 am to 4:00 pm.</span>
      <br>

    
    </div>

  </div>
</div>

<div container >
  <h1><b>Note</b></h1>
  <div class="card">

    <div class="card-body" >
      <span>For any queries related to seat allotment, refund of acceptance fee etc. for new entrants, please refer to JoSAA website</span>
    </div>

  </div>
</div>