<main role="main">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of content.carousel">
      <img src="{{image.imgsrc}}" alt="Top Events" class="responsive-event" >
      <div class="carousel-caption">
        <h3>{{image.headline}}</h3>
        <p>{{image.summary}}</p>
      </div>
    </ng-template>
  </ngb-carousel> 

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4" *ngFor="let image of content.iconic">
          <img class="rounded-circle" src="{{image.icon}}" alt="More Events" width="160" height="160">
          <h2>{{image.heading}}</h2>   
          <p>{{image.details}}</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" *ngFor="let event of content.complete">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{event.heading}}<p class="text-muted">{{event.followup}}</p></h2>
          <p class="lead">{{event.summary}}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="{{event.imgsrc}}" alt="Event image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>
  </main>