<nav class="navbar navbar-expand-lg navbar-bg-primary container">
    <label for="show-menu" class="show-menu">Show Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
        <li *ngFor="let link of content.links" [routerLink]="[link.link]">
            <a>{{link.display}}</a>
            <ul *ngIf="link.sublinks" class="hidden">
                <li *ngFor="let sublink of link.sublinks" [routerLink]="[sublink.link]">
                    <a>{{sublink.display}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-bg-primary container">
    <ul id="menu" style="background-color:pink">
        <span *ngFor="let link of content.links" [routerLink]="[link.link]" style="background-color:red">
            <a style="background-color:green">{{link.display}}</a>
            <div *ngIf="link.sublinks" class="hidden" style="background-color:orange">
                <span *ngFor="let sublink of link.sublinks" [routerLink]="[sublink.link]" style="background-color:rebeccapurple">
                    <a style="background-color:yellow">{{sublink.display}}</a>
                </span>
        </div>
        </span>
    </ul>
</nav> -->