<div class="container table-responsive-md"> 
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Faculty Name</th>
          <th>Department</th>
          <th>Contact Number</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-hover" *ngFor="let faculty of content">
        <td>{{faculty.name}}</td>
        <td>{{faculty.username}}</td>
        <td>{{faculty.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  