<nav class="navbar navbar-expand-md" style="background-color:#084386;">
    <a class="navbar-brand" routerLink=""><img src="./../../assets/home-icon.png" width="35em" height="35em"></a>|
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">About Us<span class="sr-only">(current)</span></a> |
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.iiitkota.ac.in" target="_blank">Old Website</a>
        </li>
      </ul>
      <div class="responsive">
          <label for="typeahead-basic">Search the site:</label>
          <input id="typeahead-basic" type="text" class="form-control" (keyup.Enter)="routing(model)" [(ngModel)]="model" [ngbTypeahead]="search"/>
          <hr>
          <!-- <pre>Model: {{ model | json }}</pre> -->
      </div>
    </div>
  </nav>