@font-face {
    font-family: 'kaushan';
    src: url('./assets/fonts/kaushanscript-regular-webfont.woff2') format('woff2'), url('./assets/fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alex';
    src: url('./assets/fonts/alexbrush-regular-webfont.woff2') format('woff2'), url('./assets/fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arizonia';
    src: url('./assets/fonts/arizonia-regular-webfont.woff2') format('woff2'), url('./assets/fonts/arizonia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}