@import url('https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/yeti/bootstrap.min.css');

nav{
    z-index: 1;
}

div[container] {
    display: flex;
    flex-flow: column wrap;
    padding: 1.5em 1em;
    margin: 1.17em 10%;
    align-content: justify;
}
