<div container>

  <h1>Tenders</h1>

  <div class="card text-center" *ngFor="let tender of content" >
   <div class="card-header">
      <h2>{{tender.name}}</h2>
   </div>
    <div class="card-body">
      <h4 class="card-title">{{tender.desc}}</h4>
      <p class="card-text">{{tender.content}}</p>
      <div class="container links">
      <a href={{tender.sublink.link}} class="btn btn-primary btn-lg" *ngIf="tender.sublink" target="_blank">{{tender.sublink.name}}</a>
      <a href={{tender.link.link}} class="btn btn-primary btn-lg" target="_blank">{{tender.link.name}}</a>
      </div>
    </div>
  </div>
</div>