h2 {
    font-size: 1.17em;
}

div.card {
    margin: 1.77em 10%;
}

h1 {
    text-align: center;
    font-size: 4.5em;
    line-height: 2em;
    font-weight: 600;
}
div[container] {
    display: flex;
    padding: 1.5em 1em;
}
.links{
    display: flex;
    align-items: center;
}
.links a{
    flex:1;
    margin: 1em 3em;
    font-size: 1.4vw;
    text-align: center;
}

