<div container>

    <h1>Vacancies</h1>
  
    <div class="card text-center" >
     <div class="card-header">
        <h2>Non-Teaching-Staff</h2>
     </div>
      <div class="card-body">
        <h4 class="card-title">Walk-in-Interview for Non-Teaching Staff for IIIT Kota.</h4>
        <p class="card-text">Walk-in-Interview for Non-Teaching Staff for IIIT Kota, For advertisement click <a href="" target="_blank">here</a></p>
      </div>
    </div>

    <div class="card text-center" >
        <div class="card-header">
           <h2>Guest Faculty</h2>
        </div>
         <div class="card-body">
           <h4 class="card-title">Advertisement of walk-in-Interview for guest faculty for IIIT Kota</h4>
           <p class="card-text">For the Advertisement of walk-in-Interview for guest faculty for IIIT Kota please <a href="" target="_blank">here</a></p>
         </div>
       </div>

       
       <div class="card text-center" >
          <div class="card-header">
             <h2>Faculty Positions</h2>
          </div>
           <div class="card-body">
             <h4 class="card-title">Faculty Positions At IIITK-Date Extended</h4>
             <p class="card-text" style="text-align: left">Online applications from bright Indian nationals having an excellent academic record are invited for Faculty positions at IIIT Kota.</p>
             <p class="card-text" style="text-align: left">1-Copy of advertisement is <a href="" target="_blank">here</a></p>
             <p class="card-text" style="text-align: left">2. Last date of online application submission has been changed to August 21, 2017. The Corrigendum is attached <a href="" target="_blank">here</a></p>
             <p class="card-text" style="text-align: left">3.<a href="" target="_blank">Detailed advertisement</a></p>
             <p class="card-text" style="text-align: left">4.<a href="" target="_blank">Portal for online applications</a></p>
             <p class="card-text" style="text-align: left">5. Read instructions carefully before you submit the application. Once submitted, no changes can be made to the application.</p>
             <p class="card-text" style="text-align: left">6. Under qualifications , the candidate must provide education details of </p>
             <p class="card-text" style="text-align: left">(i)-Secondary Examination</p>
             <p class="card-text" style="text-align: left">(ii)-Senior Secondary Examination</p>
             <p class="card-text" style="text-align: left">(iii)-U.G. (B.Tech / B.E.)</p>
             <p class="card-text" style="text-align: left">(iv)-Ph.D</p>
             <p class="card-text" style="text-align: left">Keep a scanned copy of relevant documents to be uploaded</p>
             <p class="card-text" style="text-align: left"><b>Note</b> There is a seperate portral from the portal for faculty on contract positions</p>
           </div>
         </div>


         <div class="card text-center" >
            <div class="card-header">
               <h2>Director IIIT(PPP) Under MHRD</h2>
            </div>
             <div class="card-body">
               <h4 class="card-title">Advertisement For The 14 Posts Of The Director IIIT (PPP) Under MHRD</h4>
          
               <p class="card-text">Click here to advertisement for the <a href="" target="_blank"> 14 Posts of the Director IIIT(PPP) under MHRD</a></p>
              </div>
           </div>

         <div class="card text-center" >
            <div class="card-header">
               <h2>Notice For Appointment On Deputation Basis</h2>
            </div>
             <div class="card-body">
               <h4 class="card-title"></h4>
               <p class="card-text">Applications are invited for filling up two positions of Assistant Registrar on transfer or transfer on deputation basis at Indian Institute of Information Technology Kota (IIIT Kota) being mentored by MNIT, Jaipur.</p>
               <p class="card-text">Here is the detailed <a href="" target="_blank">notice for appointment on deputation basis</a></p>
               <p class="card-text">Complete application in the prescribed proforma should reach to Coordinator, IIIT Kota, Office of IIIT Kota, 2nd Floor, Prabha Bhawan, MNIT Jaipur Campus, J L N Marg, Jaipur-302017 latest by Wednesday, June 21, 2017. The prescribed proforma for the application may be downloaded from <a href="" target="_blank">here</a></p>
              </div>
           </div>

         <div class="card text-center" >
            <div class="card-header">
               <h2>Advertisement for Faculty (Contract) Positions</h2>
            </div>
             <div class="card-body">
               <h4 class="card-title">Faculty (Contract)</h4>
               <p class="card-text">Applications from bright Indian nationals having a consistently excellent academic record are invited for immediate contract positions at IIIT Kota in CSE and ECE streams.</p>
               <p class="card-text">Those who have submitted their PhD thesis or completed PhD degree from reputed institutions (CFTI) in India or abroad are encouraged to apply using <a href="" target="_blank">recruitment portal</a>only. Please read instructions at the recruitment portal carefully before applying. Candidate must submit the application, do not leave application saved/locked.</p>
               <p class="card-text">Contract Faculty at IIIT Kota are offered Assistant Professor position initially up to one year with a suitably consolidated remuneration depending on their profile, Ph.D. status (Completed/ thesis Submitted), teaching experience, research experience and industry experience.</p>
               <p class="card-text"><b>NOTE:</b></p>
               <p class="card-text" style="text-align: left">1. We have stopped receiving resumes through e-mail and made this process online. No application sent by e-mail or dispatch will be entertained from July 2016. Please do not send resumes by e-mail or post.</p>
               <p class="card-text" style="text-align: left">2. In case you have given a presentation on skype/in-person already, between January 01, 2016 to May 01, 2017, and there is no change in the profile, you need not re-apply. Do not give false information on the portal.</p>
               <p class="card-text" style="text-align: left">3. Candidate must ensure that you do NOT upload complete research papers, only a suitable reference is enough.</p>
               <p class="card-text" style="text-align: left">4. Candidate must fill up areas of interest and the subjects that you can teach at the undergraduate level.</p>
               <p class="card-text" style="text-align: left">5. Under qualifications, the candidate must provide education details of</p>
               <p class="card-text" style="text-align: left">(i)-Secondary Examination</p>
               <p class="card-text" style="text-align: left">(ii)-Senior Secondary Examination</p>
               <p class="card-text" style="text-align: left">(iii)-U.G (B.Tech./B.E. /equivalent)</p>
               <p class="card-text" style="text-align: left">(iv)-P.G (M.Tech./M.E. /equivalent)</p>
               <p class="card-text" style="text-align: left">(v)-Ph.D along with status (Completed/Thesis Submitted)</p>
               <p class="card-text">6-<b>Candidate must submit the application after filling up all details.</b> Please do not leave the application in saved state – such saved applications are not considered for further processing.</p>
               p.class-
             </div>
            </div>
         
               <div class="card text-center" >
                  <div class="card-header">
                     <h2></h2>
                  </div>
                   <div class="card-body">
                     <h4 class="card-title"></h4>
                     <p class="card-text"></p>
                     <p class="card-text"><b>If you have any query or you face any issue while applying, please send an e-mail to recruitment [at] iiitkota.ac.in along with the screenshot of the error.</b></p>
                    </div>
                 </div>
             
  </div>