div[role=body] {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: auto;
}

paginated-display {
    flex: 1;
    max-width: 40%;
    margin: auto;
    padding: auto;
}