div[role=logo] {
    max-width: 100vw;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
}

div[role=logo]>img {
    flex: 1;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

div[role=footer] {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2rem;
    background-color: #084386;
    padding-top: 2rem;
}

div[role=footer]>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

quick-links {
    flex: 1;
}

quick-contact-us {
    flex: 1;
}

div[role=body] {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: auto;
}

paginated-display {
    flex: 1;
    max-width: 40%;
    margin: auto;
    padding: auto;
}

nav-bar {
    z-index: 1;
    position: -moz-sticky;
    position: sticky;
}