<div class="paginated-display">
    <div class="container" role="title-container">
        {{content.title}}
    </div>
    <div role="body" class="container">

        <div role="feed-container">
            <span *ngFor="let item of this.currList" [routerLink]="[item.link]" class="event">
          {{item.content}}
        </span>
        </div>

        <div role="btn-container">
            <button class="btn btn-primary btn-sm" [routerLink]="[content.btnLink]">{{content.btnDisp}}</button>
            <div role="page-container">
                <ul class="pagination">
                    <li class="page-item" role="page-btn" (click)=changePage(1-this.currPage)>
                        <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item" role="page-btn" (click)=changePage(-2) [hidden]="this.currPage-2<=0">
                        <a class="page-link">{{this.currPage-2}}</a>
                    </li>
                    <li class="page-item" role="page-btn" (click)=changePage(-1) [hidden]="this.currPage-1<=0">
                        <a class="page-link">{{this.currPage-1}}</a>
                    </li>
                    <li class="page-item" role="page-btn">
                        <a class="page-link">{{this.currPage}}</a>
                    </li>
                    <li class="page-item" role="page-btn" (click)=changePage(1) [hidden]="this.currPage+1>this.maxPage">
                        <a class="page-link">{{this.currPage+1}}</a>
                    </li>
                    <li class="page-item" role="page-btn" (click)=changePage(+1) [hidden]="this.currPage+2>=this.maxPage">
                        <a class="page-link">{{this.currPage+2}}</a>
                    </li>
                    <li class="page-item" role="page-btn" (click)=changePage(this.maxPage-this.currPage)>
                        <a class="page-link">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>