div.card-body {
    display: flex;
    flex-flow: column wrap; 
}

div.card-body:not(:first-child){
    border-top: 0.025px dashed black;
}

h1 {
    margin-bottom: 1.5rem;
}

div.card-body span, div.card-body div {
    flex:1;
}
div.card-body div {
    display: flex;
    flex-flow: column wrap;
    margin: 0.5rem 0;
}
div.card-body div span{
    flex: 1;
    margin: 0.3em 0;
}
span {
    font-size: 1.17em;
    margin: 0.2em;
    font-weight: 500;
}