<div container >
  <h1 class="text-center">Institute Scholarships</h1>
  <div class="card">

    <div class="card-body" >
      <span>IIIT Kota has established Institute Scholarship for meritorious students to 
      enable them to support their studies at the campus. Students may go 
      through the scheme and apply for scholarships.</span>
      <span>IIIT Kota Institute Scholarship – <a href="/pdf/Scholarship/Scheme" target="_blank">scheme</a> and 
        <a href="/pdf/Scholarship/Application-Format" target="_blank">application format</a>.</span>
    </div>
  
  </div>
  
</div>